* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #27282d;
    color: aliceblue;
    font-family: Arial;
}

h1 {
    text-align: center;
}

h2{
    text-align: center;
}

/*Menu*/

.header {
    position: sticky;
    top: 0;
    background-color: #27282d;
}

.top-menu ul {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.top-menu ul > li {
    list-style-type: none;
    margin: 8px;
}

.top-menu ul>li a {
    text-decoration: none;
    counter-reset: #ccc;
    font-size: 25px;
    color: #571aad;
}

/*Imagens*/ 

.teste{
    width: px;
    height: 750px;
}

.foto-perfil {
    width: 400px; 
    height: 400px;
    border-radius: 50%; 
    overflow: hidden;  
    border: 4px solid #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
  }
  
  .foto-perfil img {
    width: 100%; 
    height: auto; 
    display: block;
}

/*Posts (páginas)*/

article{
    margin-top: 36px;
}

.bloco{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.coluna-esquerda{
    width: 30vw;
}

.coluna-direita{
    width: 60vw;
}

/*Formatação das tecnologias*/
.tech{
    width: 50px;
    max-width: auto;
    margin-left: 8px;
}

.tecgr{
    margin-left: 225px;
    margin-top: 35px;
}


/*Formatação de parágrafos*/

p{
    margin-right: 200px;
    text-align: left;
    font-family: Arial;
    font-size: 35px;
}

.technology{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1220px;
}

.title{
    font-size: 25px;
    margin-top: 110px;
}

.subt{
    margin-top: 50px;
    margin-right: 900px;
    margin-left: 550px;
}

.text01 {
    margin-left: 750px;
    margin-right: 500px;
    margin-top: 25px;
}

/*Formatação de imagens com legenda*/

figure.foto-legenda{
    position: relative;
    box-shadow: 1px 1px 4px black;
    margin-left: 40px;
    margin-top: 25px;
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0,0,.4);
    font-size: 33px;
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
    opacity: 1;
}