* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #27282d;
    color: aliceblue;
    font-family: Arial;
}

h1 {
    text-align: center;
}

h2{
    text-align: center;
}

/*Menu*/

.header {
    position: sticky;
    top: 0;
    background-color: #27282d;
}

.top-menu ul {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.top-menu ul > li {
    list-style-type: none;
    margin: 8px;
}

.top-menu ul>li a {
    text-decoration: none;
    counter-reset: #ccc;
    font-size: 25px;
    color: #571aad;
}

/*Imagens*/ 

.foto-perfil {
    width: 400px; 
    height: 400px;
    border-radius: 50%; 
    overflow: hidden;  
    border: 4px solid #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
  }
  
  .foto-perfil img {
    width: 100%; 
    height: auto; 
    display: block;
}

/*Posts (páginas)*/

article{
    margin-top: 36px;
}

.bloco{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.coluna-esquerda{
    width: 30vw;
}

.coluna-direita{
    width: 60vw;
}

/*Formatação das tecnologias*/
.tech{
    width: 50px;
    max-width: auto;
    margin-left: 8px;
}

.tecgr{
    margin-left: 330px;
    margin-top: 35px;
}


/*Formatação de parágrafos*/

p.aboutme{
    margin-right: 100px;
    font-size: 40px;
    text-align: justify;
}

.technology{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1020px;
}

.title{
    font-size: 25px;
    margin-top: 110px;
}

.subt{
    margin-top: 50px;
    margin-right: 900px;
    margin-left: 550px;
}

.text01 {
    margin-left: 750px;
    margin-right: 500px;
    margin-top: 25px;
}

/*Cards*/

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card{
    width: 325px;
    background-color: #27282d;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p{
    color: white;
    font-size: 15px;
    line-height: 1.3;
}

.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #571aad;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: white;
}

/*Section*/

section.project{
    display: flex;
    align-items: center;
    margin-left: 600px;
}

h1.project2{
    text-align: center;
    font-size: 33px;
}